li {
    display: inline;
    list-style-type: none;
  
  }
  
  ul {
    font-family: "Inter";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
  
  a {
      text-decoration: none;
      color: white;
      font-size: 16px;
  }
  
  .navbar {
      background-color: #1F1F1F38;
      border: 2px solid white;
      border-radius: 25px;
      width: 500px;
      margin: 23px auto;
  }
  
  .active {
    color: red;
  }
  
  .navItem a:hover {
    color: grey;
  }