.chart {
    padding-top: 30px;
    margin: 0 auto;
    width: 650px;
    background-color: #1F1F1F38;
    border: 2px solid white;
    border-radius: 25px;
}

.results p {
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 15px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}